// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.clickable{
    cursor: pointer;
}

.row {
    margin-bottom: 10px;;
}

.modal {
    overflow-y:auto;
}

// For reviewer's dashboard
div.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
    
}            
.glow-on-hover :hover {
    transition: border-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    border-color: #80bdff;    
}
div.horizontal-scroll div.card {
    cursor: pointer;
    width: 250px;
    height: 350px;
    display: inline-flex;
    text-align: left;                
    margin-left:5px; margin-right:5px;
}
div.horizontal-scroll div.card img {
    max-height: 150px;
}            
.selling-price {
    bottom: 0px;
    position: absolute;
}
.wrapword {
    overflow: hidden;
    hyphens: auto;                                
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-word;
    white-space: normal;
}

p.reviewer-title {
    font-weight: bold;
}
  
.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
    color: red;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
        font-size: medium;
    }
    50% { 
        opacity: 1.0;
        font-size: large;
    }
    100% { 
        opacity: 0.5;
        font-size: medium;
    }
}
